<header>
  <!-- header med navigation som alltid syns på skärmen, logga länkar tillbaka till hem komponent, navigering till höger länkar till tillhörande komponent -->
  <h1><a class="navbarLogo animate__animated animate__backInDown" routerLink="">flix<span class="letterR">R</span>us</a></h1>
  <nav>
    <ul class="animate__animated animate__backInDown">
      <li><a class="navbarLink" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hem</a>
      </li>

      <!-- innehåller en extra del som ständigt håller koll på givet antal produkter i varukorgen och visar detta som en badge ovanför länk-->
      <li><a class="navbarLink" routerLink="/checkout" routerLinkActive="active">Varukorg
          <div class="basketItemBadge" *ngIf="amountOfItemsInBasket > 0">{{amountOfItemsInBasket}}</div>
        </a>

      </li>

      <li><a class="navbarLink" routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
  </nav>
</header>