<main>
    <h2>Lagda ordrar:</h2>
    <div class="ordersContainer">

        <div [@itemAnim] class="order" *ngFor="let order of orders">

            <h4 class="orderId">OrderId: {{order.id}}</h4>

            <div>

                <h3 class="items">Artiklar:</h3>

                <div class="orderItem" *ngFor="let row of order.orderRows">
                    <ng-container *ngFor="let product of products">
                        <h3 class="title" *ngIf="product.id === row.productId"> Titel: {{product.name}}</h3>
                        <h3 *ngIf="product.id === row.productId"> Pris: {{product.price}}kr</h3>
                        
                    </ng-container>
                    
                </div>
            </div>
            <div class="decorationLine"></div>
            <h4> Betalningsmedel: {{order.paymentMethod}}</h4>
            <div class="decorationLine"></div>
            <h3>Köpare: {{order.createdBy}}</h3>

            <div class="decorationLine"></div>
            <div> Skapad: {{order.created | date: "yyyy-MM-dd"}}</div>
            <div class="decorationLine"></div>
            <div> Order summa: {{order.totalPrice}}kr </div>
            <div class="decorationLine"></div>

            <button (click)="removeOrder(order.id)">radera order</button>
        </div>

    </div>
</main>