<main>
    <h2>Lagda ordrar:</h2>
    <div class="ordersContainer">

        <div class="order" *ngFor="let order of orders; let i = index">

            <h4>OrderId = {{order.id}}</h4>

            <div>
                <h3>Articklar:</h3>
                <div class="decorationLine"></div>
                <div *ngFor="let row of order.orderRows">
                    <h3> Namn:{{row.product.name}}</h3>
                    <h4> Pris:{{row.product.price}}</h4>
                    <div class="decorationLine"></div>
                </div>
            </div>

            <div>
                <h4> Betalningsmedel: {{order.paymentMethod}}
                </h4>
                <div class="decorationLine"></div>
            </div>

            <div>
                <h3> <strong> Köpare: </strong> Namn: {{order.createdBy}}</h3>
                <!-- <h4> Epost: {{order.createdBy.email}}, Telefon: {{order.createdBy.phoneNr}}</h4> -->
            </div>
            <div class="decorationLine"></div>
            <div> Skapad: {{order.created | date: "yyyy-MM-dd"}}</div>
            <div class="decorationLine"></div>
            <div> Order summa: {{order.totalPrice}}kr </div>
            <div class="decorationLine"></div>

            <button (click)="removeOrder(i)">radera order</button>
        </div>

    </div>
</main>