<main>

    <a class="backBtn" routerLink="">tillbaka till produkter</a>

    <div class="productContainer">
        <ng-container *ngFor="let p of products">



            <div [@itemAnim] *ngIf="p.id === productId" class="detailedProduct">

                <img src="{{p.imageUrl}}" alt="poster of {{p.name}}">
                <div class="productInfo">
                    <h2>{{p.name}} </h2>
                    <h6><strong>artnr:</strong> {{p.id}}</h6>

                    <div class="decorationLine"></div>

                    <h4><strong>Beskrivning:</strong> {{p.description}}</h4>
                    <h5><strong>År:</strong> {{p.year}}</h5>

                    <div class="decorationLine"></div>

                    <h3><strong>Pris:</strong> {{p.price}}kr</h3>

                    <div class="decorationLine"></div>
                    
                    <button (click)="attItemToCheckout(p)">köp</button>

                </div>

            </div>




        </ng-container>
    </div>

</main>