.active{
    background-color: red;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    
    li{
        text-decoration: none;
    }
}