<main>
    <div class="itemsContainer">
        <h2>Dina varor</h2>
        <div class="item" *ngFor="let item of checkoutItems; let i = index"><img src="{{item.imageUrl}}" width="60px">
            <h4>{{item.name | slice:0:30}}</h4>
            <h5>{{item.price}}kr</h5> <button (click)="deleteItem(i)">X</button>
        </div>
    </div>


    <div class="formContainer">
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <fieldset>
                <legend>Fyll i dina uppgifter för att genomföra köp</legend>
                <input type="text" placeholder="förnamn" formControlName="firstname">

                <div
                    *ngIf="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched && userForm.get('firstname')?.dirty">
                    <div class="error" *ngIf="userForm.get('firstname')?.errors?.['required']">
                        Detta fält är obligatoriskt
                    </div>

                    <div class="error" *ngIf="userForm.get('firstname')?.errors?.['minlength']">
                        Förnamn måste bestå av minst 3 bokstäver
                    </div>
                </div>

                <input type="text" placeholder="efternamn" formControlName="lastname">

                <div
                    *ngIf="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched && userForm.get('lastname')?.dirty">
                    <div class="error" *ngIf="userForm.get('lastname')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('lastname')?.errors?.['minlength']">
                        Efternamn måste bestå av minst 3 bokstäver.
                    </div>
                </div>

                <input type="text" placeholder="adress" formControlName="street">

                <div
                    *ngIf="userForm.get('street')?.invalid && userForm.get('street')?.touched && userForm.get('street')?.dirty">
                    <div class="error" *ngIf="userForm.get('street')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('street')?.errors?.['minlength']">
                        Adress måste bestå av minst 3 bokstäver.
                    </div>
                </div>

                <input type="number" placeholder="postnummer" formControlName="zip">

                <div *ngIf="userForm.get('zip')?.invalid && userForm.get('zip')?.touched && userForm.get('zip')?.dirty">
                    <div class="error" *ngIf="userForm.get('zip')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('zip')?.errors?.['minlength']">
                        Postnummer måste bestå utav 5 siffror.
                    </div>

                    <div class="error" *ngIf="userForm.get('zip')?.errors?.['maxlength']">
                        Postnummer måste bestå utav 5 siffror.
                    </div>

                    <div class="error" *ngIf="userForm.get('zip')?.errors?.['pattern']">
                        Postnummer måste bestå utav siffror.
                    </div>
                </div>


                <input type="text" placeholder="stad" formControlName="city">

                <div
                    *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.touched && userForm.get('city')?.dirty">
                    <div class="error" *ngIf="userForm.get('city')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('city')?.errors?.['minlength']">
                        Stad måste bestå av minst 3 bokstäver.
                    </div>
                </div>

                <input type="text" placeholder="land" formControlName="country">

                <div
                    *ngIf="userForm.get('country')?.invalid && userForm.get('country')?.touched && userForm.get('country')?.dirty">
                    <div class="error" *ngIf="userForm.get('country')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('country')?.errors?.['minlength']">
                        Land måste bestå av minst 3 bokstäver.
                    </div>
                </div>

                <input type="number" placeholder="telefon" formControlName="phoneNr">

                <div
                    *ngIf="userForm.get('phoneNr')?.invalid && userForm.get('phoneNr')?.touched && userForm.get('phoneNr')?.dirty">
                    <div class="error" *ngIf="userForm.get('phoneNr')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('phoneNr')?.errors?.['minlength']">
                        Telefonnummer måste bestå utav 10 siffror.
                    </div>
                </div>

                <input type="email" placeholder="epost" formControlName="email">

                <div
                    *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched && userForm.get('email')?.dirty">
                    <div class="error" *ngIf="userForm.get('email')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('email')?.errors?.['minlength']">
                        Du har ej angett en korrekt epost adress.
                    </div>
                </div>

                <h4>Välj betalningsmedel nedan</h4>
                <select placeholder="betalningsmedel" formControlName="payment">
                    <option value="Swish">Swish</option>
                    <option value="Klarna">Klarna</option>
                    <option value="Paypal">Paypal</option>
                    <option value="Internetbanken">Internetbanken</option>
                </select>

                <div
                    *ngIf="userForm.get('payment')?.invalid && userForm.get('payment')?.touched && userForm.get('payment')?.dirty">
                    <div class="error" *ngIf="userForm.get('email')?.errors?.['required']">
                        Detta fält är obligatoriskt.
                    </div>

                    <div class="error" *ngIf="userForm.get('email')?.errors?.['minlength']">
                        Du har ej angett en korrekt epost adress.
                    </div>
                </div>

                <br>





            </fieldset>

            <button type="submit" [disabled]="!userForm.valid || checkoutItems.length < 1">Spara och genomför
                köp</button>



        </form>
    </div>
    <div class="purchaseMade" *ngIf="madePurchase === true">Tack för ditt köp! <br> Din order kommer nu att behandlas
        och därefter skickas till dig. </div>

</main>